<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Дэлавери фут</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <script defer src="/js/application.js"></script>
  <link rel="stylesheet" href="/stylesheets/style.css">


</head>

<body>

  {{!-- NAVBAR --}}
  {{!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="d-flex">
      <a class="navbar-brand font-weight-bold" href="#">Quiz</a>
      <div class="navbar-nav">
        <a class="nav-item nav-link text-warning " href="#">Home</a>
        <a class="nav-item nav-link text-warning" href="/login">Login</a>
        <a class="nav-item nav-link text-warning" href="/registration">Registration</a>
      </div>
    </div>
    <div class="d-flex justify-content-end">
      <a class="nav-item nav-link text-white" href="#">GitHub</a>
      <a class="nav-item nav-link text-success">V.1.0.0</a>
    </div>
  </nav> --}}


  {{{body}}}
  {{!-- FOOTER --}}
  <div class="card-footer fixed-bottom bg-dark">

    <div class="row"></div>
    <div class="d-flex justify-content-center">
      <footer class=" text-white">
        <p>Дэлавери фут © <time datetime="2020">2020</time>
          <a href="https://yandex.ru/maps/213/moscow/house/ulitsa_vavilova_1/Z04Ycw5jSUwEQFtvfXtxeXVhYw==/?ll=37.593094%2C55.708927&z=16"
            class="badge badge-info">Adress</a> </p>

    </div>

    </footer>
  </div>
  <div>



</body>

</html>
