<div class="login">
  <h1>Authorization</h1>
  <form>
    <label> Email: <input name="email" type="text" placeholder="Enter Email"></label>
    <label> Password: <input name="Password" type="password" placeholder="Enter password"></label>
    <button type="submit">Entry</button>
  </form>
</div>
