<div class="container mt-4">
  <div class="border border-success">
    <div class="row justify-content-around">
      <div class="col-4 border border-warning text-center my-2 mx-2">
        <h3>Courier</h3>
        <div class="d-flex align-items-center flex-column mb-2 ">
          <button class="btn btn-success w-50"> <a href="/registration/courier">Registration</a></button>
          <br>
          <button class="btn btn-success w-50"> <a href="/login/courier">Login</a></button>
        </div>
      </div>
      <div class="col-4 border border-warning text-center my-2 mx-2">
        <h3>User</h3>
        <div class="d-flex align-items-center flex-column mb-2 ">
          <button class="btn btn-success w-50"> <a href="/registration/user">Registration</a></button>
          <br>
          <button class="btn btn-success w-50"> <a href="/login/user">Login</a></button>
        </div>
      </div>
    </div>
  </div>
</div>
