<div style="width: 400px"
  class="page-header text-success text-white bg-dark  border border-success bg-dark text-center my-2 mx-2 rounded">
  <h1 style="margin: 5px 5px 5px 5px; width: 95%">Добро пожаловать в Дэлавери фут!
    {{!-- <small>заказывайте именно тут</small>
    <footer class="blockquote-footer">у нас еда дешевле чем обычно,<cite title="">доставят быстро и без потери
        тепла!</cite>
    </footer> --}}
  </h1>
</div>

<div class="container mt-4 ">
  {{!-- <div class="border border-success"> --}}
  <div class="row justify-content-around">
    <div class="col-4  border border-success bg-dark text-center my-2 mx-2 rounded">
      <h3 class=" text-success text-warning">Courier</h3>
      <div class="d-flex align-items-center flex-column mb-2 ">
        <a class="btn btn-outline-success" href="/registration/courier">Registration</a>
        <br>
        <a class="btn btn-outline-success" href="/login/courier">Login</a>
      </div>
    </div>
    <div class="col-4  border border-success bg-dark text-center my-2 mx-2 rounded">
      <h3 class=" text-success text-warning">User</h3>
      <div class="d-flex align-items-center flex-column mb-2 ">
        <a class="btn btn-outline-success" href="/registration/user">Registration</a>
        <br>
        <a class="btn btn-outline-success" href="/login/user">Login</a>
      </div>
    </div>
  </div>
  {{!-- </div> --}}
</div>