<div>
  <h3>Courier</h3>
  <button> <a href="/">Registration</a></button>
  <button> <a href="/">Login</a></button>
</div>
<div>
  <h3>User</h3>
  <button> <a href="/">Registration</a></button>
  <button> <a href="/">Login</a></button>
</div>
