<h2>ВВЕДИТЕ АДРЕС ВАШЕГО ТЕКУЩЕГО МЕСТОПОЛОЖЕНИЯ:</h2>
<form action="/user/main" method="POST">
  <label for="street">Street</label>
  <input type="text" name="street" id="street" required>
  <label for="house">House</label>
  <input type="text" name="house" id="house"  required>
  <label for="flat">Flat</label>
  <input type="text" name="flat" id="flat"  required>
  <input type="submit" value="Search">
</form>

