<h2>ВВЕДИТЕ АДРЕС ВАШЕГО ТЕКУЩЕГО МЕСТОПОЛОЖЕНИЯ:</h2>
<ul>
  <li>Улица: <input> </li><br>
  <li>Номер дома: <input></li><br>
  <li>Номер Квартиры: <input></li><br>
</ul>
<button> <a href="/">НАЙТИ ЕДУ</a></button>