<div class="container">
  <div class="row-6 d-flex justify-content-center">
    <div class="alert alert-success w-75 mt-5 " role="alert">
      Выш заказ в пути!
    </div>
  </div>
</div>
<div class="container">
  <div class="row-6 d-flex justify-content-center">
    <a class="btn btn-primary" href="/user/search">Назад</a>
  </div>
</div>
