<h2>СПИСКО ВОЗМОЖНЫХ ЗАКАЗОВ:</h2>
<ul>
  <li>Ресторан: <input> </li><br>
  <li>Содержимое заказа: <input></li><br>
  <li>Изначальная цена заказа: <input></li><br>
  <li>Цена заказа со скидкой для Вас: <input></li><br>
</ul>
<button> <a href="/">СДЕЛАТЬ ЗАКАЗ</a></button>
