<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="/stylesheets/registration.css">
<div class="container d-flex justify-content-center ">
  <div class="row main-form text-center jumbotron">
    {{#if invalidPassword }}
    <section>
      <h3>
        Sorry, invalid password!
      </h3>
    </section>
    {{/if}}
    <form method="POST" action="/registration/user">
      <h1>
        <p><strong>Registration</strong></p>
      </h1>
      <h3>User</h3>
      {{!-- <p>Please fill in this form to create an account.</p> --}}

      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label"></label><b>Name</b></label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
            <input type="text" placeholder="Enter Name" name="name" id="login" class="form-control"
              pattern="[A-Za-z]{4,}" title="Should be more than 4 simbols" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="email" class="cols-sm-2 control-label"><b>Email</b></label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
            <input type="text" placeholder="Enter Email" name="email" id="email" pattern="^\S+@\S+$"
              title="Invalid email" class="form-control" required>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="phone" class="cols-sm-2 control-label"><b>Phone</b></label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-phone fa" aria-hidden="true"></i></span>
            <input type="text" placeholder="Enter Phone" name="phone" id="phone" pattern="[0-9]{4, 11}"
              title="Номер телефона должен быть не менее четырех цифр" class="form-control" required>
          </div>
        </div>
      </div>

      <div class="form-group">
        <label for="password" class="cols-sm-2 control-label"><b>Password</b></label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
            <input type="password" placeholder="Enter Password" name="password" id="password" required
              class="form-control">
          </div>
        </div>
      </div>

      <div class="form-group"></div>
      <label for="password-repeat" class="cols-sm-2 control-label"><b>Repeat Password</b></label>
      <div class="cols-sm-10">
        <div class="input-group">
          <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
          <input type="password" placeholder="Repeat Password" name="passwordRepeat" id="password-repeat" required
            class="form-control">
        </div>
      </div>
      <br>
      <div class="text-xs-center">
        <button class="btn btn-block btn-primary" type="submit">Registration</button>
      </div>
  </div>
  </form>
</div>
