<h2>Выберите подходящий Вам заказ, из списка:</h2>

<h2>СПИСКО ВОЗМОЖНЫХ ЗАКАЗОВ:</h2>
<ul>
  <li>Ресторан: </li><br>
  <li>Содержимое заказа:</li><br>
  <li>Изначальная цена заказа:</li><br>
  <li>Цена заказа со скидкой для Вас:</li><br>
</ul>
<button> <a href="/user/order">СДЕЛАТЬ ЗАКАЗ</a></button>
