<div class="login">
  <h1>Login</h1>
  <form method="POST" action="/login/courier">
    <label> Email: <input name="email" type="text" placeholder="Enter Email" pattern="^\S+@\S+$" title="Invalid email" required></label>
    <label> Password: <input name="password" type="password" placeholder="Enter password"></label>
    <button type="submit">Entry</button>
  </form>
</div>
