<link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>
<link href='https://bootstraptema.ru/snippets/form/2017/recaptcha/custom.css' rel='stylesheet' type='text/css'>

<div class="container ">

  <div class="row d-flex justify-content-center">

    <div class="col-lg-8 col-lg-offset-2">

      <h1 class="text-center">СОЗДАТЬ ЗАЯВКУ</h1>

      <p class="lead">Для создания заявки, необходимо заполнить все поля.</p>


      <form id="contact-form" method="post" action="/courier/search" role="form">

        <div class="messages"></div>

        <div class="controls">

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_name">Ресторан:</label>
                <input id="form_name" type="text" name="name" class="form-control"
                  placeholder="Укажите название ресторана" required="required" data-error="Заполните поле!.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="form_lastname">Текущий адрес: </label>
                <input id="form_lastname" type="text" name="surname" class="form-control"
                  placeholder="Укажите Ваш текущий адрес:" required="required" data-error="Заполните поле!.">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="form_email">Изначальная цена заказа:</label>
                <input id="form_email" type="then" name="email" class="form-control"
                  placeholder="Изначальная цена заказа" required="required">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="form_phone">Новая цена со скидкой:</label>
                <input id="form_phone" type="tel" name="phone" class="form-control" placeholder="Новая цена со скидкой">
                <div class="help-block with-errors"></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="form-group">
                <label for="form_message">Содержимое заказа: </label>
                <textarea id="form_message" name="message" class="form-control" placeholder="Содержимое заказа" rows="4"
                  required="required" data-error="Введите содержания заказа!"></textarea>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="exampleInputFile">Загрузить фотографию заказа</label>
              <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp">
              <small id="fileHelp" class="form-text text-muted">Вы можете загрузить фото Вашего заказа .</small>
            </div>


            <div class="col-md-12">
              <div class="form-group">
                <!-- Replace data-sitekey with your own one, generated at https://www.google.com/recaptcha/admin -->
                <div class="g-recaptcha" data-sitekey="6LfKURIUAAAAAO50vlwWZkyK_G2ywqE52NU7YO0S"></div>
              </div>
            </div>

            <div class="col-md-12">
              <input type="submit" class="btn btn-success btn-send" value="РАЗМЕСТИТЬ ЗАЯВКУ">
              <button type="button" class="btn btn-warning btn-send" data-toggle="modal" data-target="#exampleModal">
                Info
              </button>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Помощь</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    Заполните форму для корректной работы сервиса!
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal">Ok</button>
                  </div>
                </div>
              </div>
            </div>

          </div>

        </div>

      </form>

    </div><!-- /.col-lg-8 col-lg-offset-2 -->

  </div>
  <!-- /.row-->

</div> <!-- /.row--> --}}
