<h2>СОЗДАТЬ ЗАЯВКУ:</h2>

<form method="POST" action="/courier/search">
  <div class="container">
    <p>Please fill in this form to create an order.</p>
    <hr>
    <label for="cafe"></label><b>Ресторан</b></label>
    <input type="text" placeholder="Enter Cafe" name="cafe" required>

    <label for="basket"><b>Содержимое заказа</b></label>
    <input type="text" placeholder="Enter Basket" name="basket" id="basket" required>

    <label for="address"><b>Текущий адрес</b></label>
    <input type="text" placeholder="Enter address" name="address" id="address" required>

    <label for="oldPrice"><b>Изначальная цена заказа</b></label>
    <input type="oldPrice" placeholder="Enter Old Price" name="oldPrice" id="oldPrice" required>

    <label for="sales"><b>Укажите скидку</b></label>
    <input type="sales" placeholder="Sales" name="sales" id="sales" required>
    <hr>
    <button type="submit" class="registerbtn">Send</button>
  </div>
</form>
