<h2>СОЗДАТЬ ЗАЯВКУ:</h2>
<ul>
  <li>Ресторан: <input> </li><br>
  <li>Содержимое заказа: <input></li><br>
  <li>Текущий адрес: <input></li><br>
  <li>Стоимость заказа: <input></li><br>
  <li>Новая стоимость: <input></li><br>
</ul>
<button> <a href="/">РАЗМЕСТИТЬ ЗАЯВКУ</a></button>


