<div class="d-flex justify-content-center">

  <h1 class="text-dark">Покупатель сделал заказ!</h1>
</div>

<Style>
  body {
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://lh3.googleusercontent.com/proxy/ZysHVkc_Ot57CzdaJYE_Ocf5pZ0MT4i6PQYuqcBoI_FAhsETuMnD1GhBVEoxlmmMYQuRSNENl42Wnt8KFU_lUZ4g-dOpKWftwZSNZSaoSdYLrxJ3hSJwONY);
  }
</Style>

<div>
  <h3> Вам нужно прибыть по следующему адресу:</h3>

  <div class="d-flex justify-content-between">
    <a href="https://yandex.ru/maps/213/moscow/house/ulitsa_vavilova_1/Z04Ycw5jSUwEQFtvfXtxeXVhYw==/?ll=37.593094%2C55.708927&z=16"
      class="btn btn-outline-info">Adress</a>
  </div>

</div>
<div class="d-flex justify-content-between">
  <a class="btn btn-outline-success" href="/courier/main">Назад</a>
</div>
