<Style>
  body {
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://lh3.googleusercontent.com/proxy/ZysHVkc_Ot57CzdaJYE_Ocf5pZ0MT4i6PQYuqcBoI_FAhsETuMnD1GhBVEoxlmmMYQuRSNENl42Wnt8KFU_lUZ4g-dOpKWftwZSNZSaoSdYLrxJ3hSJwONY);
  }
</Style>

<div class="d-flex justify-content-center">

  <h2>Вы подтвердили заказ!</h2>

</div>
<div>Вам нужно прибыть по следующему адресу: <strong>{{street}} {{house}} {{flat}}</strong> </div>
<a class="btn btn-primary" href="/courier/main">Назад</a>
