<div class="alert alert-primary d-flex justify-content-center" role="alert">
  <h2>Ищем покупателей по близости...</h2>
</div>
<div class="im d-flex justify-content-center">

  <img src="/images/search.gif">
</div>
<style>
  body {
    background-position: center center;
    background-size: 100%;
    background-repeat: no-repeat;
    height: 100vh;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-image: url(https://news.itu.int/wp-content/uploads/2018/07/citymobility-min-e1530886118305.jpg);
  }
</style>
{{!-- <a href="/courier/order">Принять заказ</a> --}}
<div class="d-flex justify-content-center">
 <a class="btn btn-danger" href="/courier/main">Прервать поиск</a>
</div>
